.input { 
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 150px;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
}

.box {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  height: 150px;
  margin: 20px auto;
  text-align: center;
  background-color: #f3fcfc;
  display: inline-block; 
  position: absolute;
  top: 330px; 
  left: 50%; 
  transform: translateX(-50%); 
}

.welcomeText {
  font-size: 24px;
  font-weight: bold;
  color: #0db2e9;
  line-height: 1.5;
  margin: 20px 0;
  text-align: center;
}

.outputText {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  line-height: 1.5;
  margin: 20px 0;
}


.button1 {
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
  
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  
  background-color: #45d9ef;
  color: white;
  border: none;
  border-radius: 8px;
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button1:hover {
  background-color: #14cdf7;
  transform: translateX(-50%) scale(1.05);
}

.button1:active {
  background-color: #12aff2;
  transform: translateX(-50%) scale(0.98);
}

